.chatroom_info {
  display: flex;
  justify-content: space-between;
  border-block-end: 1px solid rgba(180, 171, 171, 0.66);
  .participants_info {
    display: flex;
    align-items: center;
    gap: 12px;
    & img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    & figcaption {
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 600;
    }
  }
  & button {
    border: none;
    background-color: transparent;
  }
}
