.chatSummary_item {
  display: flex;
  height: 80px;
  box-sizing: border-box;
  padding: 14px;
  gap: 30px;
  border-block-end: 1px solid rgba(180, 171, 171, 0.66);
  & img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
  }
  & figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
  }
  & p {
    margin: 0;
  }
  & time {
    margin-inline-start: 30px;
    font-style: normal;
    font-weight: 300;
  }
}
.user_name {
  font-size: 1.2rem;
  font-weight: 400;
}
.message {
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
}
