.speech_bubble_wrapper {
  margin-block-end: 30px;
  position: relative;
  width: 50%;
}

.bubble {
  border-radius: 25px;
  margin-inline: 5px;
  padding: 14px;
  span {
    font-size: 15px;
    margin: 10px;
  }
}

.bubble_info {
  display: flex;
  gap: 10px;
  margin: 2px;
  color: #707070;
  font-style: normal;
  font-weight: 300;
}

/* 남의 말풍선 */
.bubble.other_bubble {
  background: #e7e7e7;
}

/* 내 말풍선 */
.bubble.my_bubble {
  background: #6e00ff;
  color: #fff;
}

.bubble_info.my_info {
  right: 0;
  position: absolute;
}

.bubble_info.other_info::before {
  content: " ";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #e7e7e7;
}
.bubble_info.my_info::after {
  content: " ";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #6e00ff;
}
